services:
    -
        class: PHPStan\GenericRules\DebugRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\GenericRules\MbStringRule
        tags:
            - phpstan.rules.rule
