parameters:
    generic_rules:
        debug_rule: true
        mb_string_rules: true

services:
    -
        class: PHPStan\GenericRules\DebugRule
        arguments:
            enabled: %generic_rules.debug_rule%
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\GenericRules\MbStringRule
        arguments:
            enabled: %generic_rules.mb_string_rules%
        tags:
            - phpstan.rules.rule
